@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');
:root {
  --base-color-primary: #0c213d;
  --base-color-secondary: #c7be5d;
  --base-color-tertiary: #88b59a;
  --background-light: #faf6de;
  --background-dark: #031630;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', 'Open Sans', sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 0.25s ease;
}
